<div id="header-wrapper">
  <div class="flex-start">
    <img id="logo" src="assets/images/splendex-logo.svg"></div>
  <div class="flex-center">
    <div id="deck">
      <label for="numbers">Deck size:</label>
      <select id="numbers" name="numbers" [formControl]="selectedNumber">
        <option class="options" *ngFor="let number of numberList" [value]="number">{{number}}</option>
      </select>
    </div>
    <div id="start-button">
      <button mat-button (click)="start()">START NEW GAME</button>
    </div>
  </div>
  <div></div>
</div>
